{% extends 'base.html' %}

{% block content %}
<div class="container">
      <h3>{% block title %} Create a New Post {% endblock %}</h3>
      
      <form method="post">
          <div class="form-group my-2">
              <label for="title">Title</label>
              <input type="text" name="title"
                     placeholder="Post title" class="form-control"
                     value="{{ request.form['title'] }}"></input>
          </div>
      
          <div class="form-group my-2">
              <label for="content">Content</label>
              <textarea name="content" placeholder="Post content"
                        class="form-control" rows="10">{{ request.form['content'] }}</textarea>
          </div>
          <div class="form-group my-2">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
</div>
{% endblock %}