{% extends 'base.html' %}

{% block content %}
  <div class="container py-2">
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
  </div>
  {% for post in posts %}
    <div class="container">
      <div class="d-sm-flex">
        <div>
          <a class="text-decoration-none" href="{{ url_for('post', post_id=post['id']) }}">
            <h2>{{ post['title'] }}</h2>
          </a>
          <span class="badge bg-primary">{{ post['created'] }}</span>
        </div>
        <a class="ms-sm-auto" href="{{ url_for('edit', id=post['id']) }}">
          <button class="btn btn-warning my-auto">Edit</button>
        </a>
      </div>
      <hr>
    </div>
  {% endfor %}
{% endblock %}